<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">
  
  <extensions>
    <add assembly="NLog.Appsettings.Standard"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
        
    <target xsi:type="Console" name="ToConsole" layout="${longdate} | ${uppercase:${level}} | ${appsettings:Mode} | Lang:${appsettings:Options.Language} - ${message}" />    
    
    <!-- write logs to file -->
    <!--<target xsi:type="File" name="AllFile" fileName="${basedir}/logs/${shortdate}/${shortdate}.log" layout="${longdate} ${uppercase:${level}} | ${appsetting:name=Mode} | ${message}" />-->

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="ToConsole"/>
    <!--<logger name="*" minlevel="Trace" writeTo="AllFile" />-->

  </rules>

</nlog>